fastapi
uvicorn
requests
beautifulsoup4
beautifulsoup4
google-genai
pyparsing
dotenv
ddgs
python-multipart
supabase
torch 
torchvision 
opencv-python 
numpy
git+https://github.com/facebookresearch/segment-anything-2.git